
/* Your CSS Code here. */.holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: lightgray;
}
.box {
  background-color: teal;
  height: 100px;
  width: 100px;
}
