.holder {
  display: flex;
  flex-wrap: wrap;              
  justify-content: space-between;
}


.item {
  flex: 0 0 150px; 
  height: 100px;     
  background: lightblue;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; 
}
